@import '~antd/dist/antd.less';

@color: #adc3ce;
@table-row-color: rgb(181, 219, 209);
@box-shadow-color: #909090;

html{
  height: 100%;
  width: 100%;
}

body{
  background-image: url("background.jpg");
  background-size: 100% 100%;
}

.myInput{
  width: 400px;
  height: 38px;
  margin: 25px;
}

#table{
  // background-color: @table-row-color;
  
  tr{
    height: 30px;
    width: 100%;
    td{
      width: 65%;
      button{
        margin-left: 20px;
      }
    }
  }
}

.big-title{
  color: transparent;
  background-color : black;
  text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
  -webkit-background-clip : text;
  font-size: 37px;
}

.sub-title{
  color: transparent;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.04em;
  font-weight: bold;
}

.title{
  .big-title();
}

.form-lable{
  .big-title();
  font-size: 20px;
}

#sign-form-div{
  height: 420px;
  width: 450px;
  background-color: whitesmoke;
  box-shadow: 8px 8px 10px @box-shadow-color;
  margin-left: 650px;
  margin-top: 25px;
  padding-top: 20px;
}

.login-form{
  padding: 50px;
}

.register-form{
  padding-right: 60px;
  button{
    width: 100%;
  }
}